{
    "extends": ["@adobe/eslint-config-aio-lib-config"],
    "rules" : {
        "jsdoc/require-jsdoc": 0,
        "jsdoc/require-param": 0,
        "jsdoc/require-returns": 0,
        "comma-dangle": ["error", {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "always-multiline",
          "functions": "always-multiline"
        }],
        "aio-cli-plugin-cloudmanager-base-class": "error",
        "aio-cli-plugin-cloudmanager-error-usage": "error",
        "aio-cli-plugin-cloudmanager-stop-usage": "error"
    },
    "overrides": [
      {
        "files" : ["src/base-command.js"],
        "rules" : {
          "aio-cli-plugin-cloudmanager-base-class": "off"
        }
      },
      {
        "files" : ["test/**/*.js"],
        "rules" : {
          "aio-cli-plugin-cloudmanager-error-usage": "off"
        }
      },
      {
        "files" : ["src/commands/**/*.js"],
        "rules" : {
          "aio-cli-plugin-cloudmanager-command-permissions": "error"
        }
      },
      {
        "files" : ["src/commands/cloudmanager/commerce/**/*.js"],
        "rules" : {
          "aio-cli-plugin-cloudmanager-command-permissions": "off"
        }
      }
    ]
}
