*-debug.log
*-error.log
oclif.manifest.json
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
.DS_Store
/test-results.xml
coverage/
junit.xml
.vscode/
.idea/
/package-lock.json
.aio
permissions.json
.env
.secrets
certificate_pub.crt
private.key
